<app-navbar></app-navbar>
<section class="w3-panel">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      
      <div class="col-md-8 col-lg-6 col-xl-5">
        <img src="assets/about-us.jpg" class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-9 col-lg-6 col-xl-5">
        <h1>“เกี่ยวกับเรา”</h1>
        <h2>“TPQI Competency Profile System หรือ ระบบเทียบเคียงสมรรถนะของบุคคลกับเกณฑ์มาตรฐาน
          <a style="font-size: 18px; font-family: 'Prompt', sans-serif; color: #000000e8;" 
          href="https://www.tpqi.go.th/th/standard/rQNWewEb3Q" target="_blank">สถาบันคุณวุฒิวิชาชีพ (องค์การมหาชน)</a> 
          เป็นแพลตฟอร์มที่ออกแบบมาเพื่อวิเคราะห์ทักษะ และความรู้ของแต่ละบุคคลตามมาตรฐานของ TPQI
            เพื่อให้ทราบเกี่ยวกับทักษะ และความรู้ ที่สอดคล้องกับอาชีพอะไร อยู่ในระดับไหน
            เพิ่มโอกาสในการตัดสินใจในการสมัครงานอาชีพที่ตรงกับทักษะ และความรู้ ของตนเองได้”
        </h2>
      </div>
    </div>
  </div>

</section>

<section class="w3-panel" style="background-color: #b3b3b35d;">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">


      <div class="row mt-5 justify-content-center" >
        <div class="text-center mb-4">
          <a  style="color: #360402; font-size: 40px; font-family: 'Prompt', sans-serif;" >A</a>
          <a  style="color: #560C06; font-size: 40px; font-family: 'Prompt', sans-serif;" >b</a>
          <a  style="color: #84180E; font-size: 40px; font-family: 'Prompt', sans-serif;" >o</a>
          <a  style="color: #B5251A; font-size: 40px; font-family: 'Prompt', sans-serif;" >u</a>
          <a  style="color: #d40408; font-size: 40px; font-family: 'Prompt', sans-serif;" >t</a>&nbsp;&nbsp;

          <a  style="color: #360402; font-size: 40px; font-family: 'Prompt', sans-serif;" >T</a>
          <a  style="color: #560C06; font-size: 40px; font-family: 'Prompt', sans-serif;" >e</a>
          <a  style="color: #84180E; font-size: 40px; font-family: 'Prompt', sans-serif;" >a</a>
          <a  style="color: #B5251A; font-size: 40px; font-family: 'Prompt', sans-serif;" >m</a>
          <hr class="w-50 mx-auto mb-3 mb-xl-9 border-dark-subtle">
        </div>
        
        
        <div class="col-md-5">
          <div class="card mb-4 mb-md-0">
            <div class="card-body m-4">
              <div class="card-body text-center">
                <img src="assets/phatnarin.jpg" alt="avatar"
                  class="rounded-circle img-fluid" style="width: 150px;">
              
              </div>
              <div class="row mt-2 mb-2 justify-content-center">
                  <div class="col text-center">
                    <p class="text-muted mb-0">นางสาวภัทร์นรินทร์ แซ่ว่าง</p>
                  </div>
                </div>
              <div class="row">
                <div class="col text-center">
                  <p class="text-muted mb-0">Miss Phatnarin Saewang</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col text-center">
                  <p class="text-muted mb-0">ระดับการศึกษาปริญญาตรี สาขาวิศวกรรมคอมพิวเตอร์</p>
                  <p class="text-muted mb-0">คณะวิศวกรรมศาสตร์ มหาวิทยาลัยนเรศวร</p>

                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col text-center">
                  <p class="text-muted mb-0 pb-3">ช่องทางการติดต่อ</p>
                  <p class="text-muted mb-0 pb-3">Email : phatnarinwang13&#64;gmail.com</p>
                  <p class="text-muted mb-0 pb-3">Telephone : +66 979464760</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="card mb-4 mb-md-0">
            <div class="card-body m-4">
              <div class="card-body text-center">
                <img src="assets/sukanya.jpg" alt="avatar"
                  class="rounded-circle img-fluid" style="width: 150px;">
              </div>
              <div class="row mt-2 mb-2">
                  <div class="col text-center">
                    <p class="text-muted mb-0">นางสาวสุกัญญา วันดี</p>
                  </div>
              </div>
              <div class="row">
                  <div class="col text-center">
                    <p class="text-muted mb-0">Miss Sukanya Wandi</p>
                  </div>
              </div>
              <hr>
              <div class="row">
                <div class="col text-center">
                  <p class="text-muted mb-0">ระดับการศึกษาปริญญาตรี สาขาวิศวกรรมคอมพิวเตอร์</p>
                  <p class="text-muted mb-0">คณะวิศวกรรมศาสตร์ มหาวิทยาลัยนเรศวร</p>

                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col text-center">
                  <p class="text-muted mb-0 pb-3">ช่องทางการติดต่อ</p>
                  <p class="text-muted mb-0 pb-3">Email : sukanyawandi&#64;gmail.com</p>
                  <p class="text-muted mb-0 pb-3">Telephone : +66 655297192</p>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center align-items-center mt-5 mb-5">
        <div class="col col-md-9 col-lg-7 col-xl-8">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-4">
              <div class="d-flex text-black">
                <div class="flex-shrink-0">
                  <img src="assets/suradet.jpg"
                    alt="Generic placeholder image" class="img-fluid"
                    style="width: 180px; border-radius: 10px;">
                </div>
                <div class="flex-grow-1 ms-3">
                  <p class="mb-2 pb-1" style="color: #2b2a2a;">อาจารย์ที่ปรึกษา</p>
                  <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                    style="background-color: #efefef;">
                    <div class="row mt-2 m-2">
                      <div class="col-sm">
                        
                        <p class="mb-2 pb-1" style="color: #2b2a2a;">ดร.สุรเดช จิตประไพกุลศาล</p>
                        <p class="mb-2 pb-1" style="color: #2b2a2a;">DR. Suradet Jitprapaikulsarn</p>
                        <p class="mb-0 pb-1"><a href="http://www.ecpe.nu.ac.th/web/" target="_blank">ภาควิชาวิศวกรรมไฟฟ้าและคอมพิวเตอร์ (ECPE)</a></p>
                        <p class="mb-0 pb-1"><a href="http://www.eng.nu.ac.th/eng2022/index.php" target="_blank">คณะวิศวกรรมศาสตร์</a></p>
                        <p class="mb-0 pb-1"><a href="https://www.nu.ac.th/" target="_blank">มหาวิทยาลัยนเรศวร</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                    style="background-color: #efefef;">
                    <div class="row mt-2 m-2">
                      <div class="col-sm">
                        <p class="mb-2 pb-1" style="color: #2b2a2a;">ช่องทางการติดต่อ : </p>
                        <p class="mb-0 pb-1">สุรเดช จิตประไพกุลสาร</p>
                        <p class="mb-0 pb-1">ภาควิชาวิศวกรรมไฟฟ้าและคอมพิวเตอร์ มหาวิทยาลัยนเรศวร</p>
                        <p class="mb-0 pb-1">99 หมู่ 9 ตำบลท่าโพธิ์ อำเภอเมือง
                          พิษณุโลก พิษณุโลก 65000 ประเทศไทย</p>
                      </div>
                    </div>
                  </div>
                  <div class="justify-content-start rounded-3 p-2 mb-2"
                    style="background-color: #efefef;">
                    <div class="row mt-2 m-2">
                      <div class="col-sm-3">
                        <p class="mb-0 pb-1">Appointment :</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0 pb-1"><a href="http://tinyurl.com/SJ-appointment" target="_blank">http://tinyurl.com/SJ-appointment</a></p>
                      </div>
                    </div>
                    <div class="row mt-2 m-2">
                      <div class="col-sm-3">
                        <p class="mb-0 pb-1">Email :</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0 pb-1"><a>suradet.j&#64;gmail.com or suradet&#64;nu.ac.th</a></p>
                      </div>
                    </div>
                    <div class="row mt-2 m-2">
                      <div class="col-sm-3">
                        <p class="mb-0 pb-1">Facebook :</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0 pb-1"><a href="www.facebook.com/suradetj" target="_blank">Suradet Jitprapaikulsarn</a></p>
                      </div>
                    </div>
                    <div class="row mt-2 m-2">
                      <div class="col-sm-3">
                        <p class="mb-0 pb-1">Blog :</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0 pb-1">
                          <a href="https://suradetj.wordpress.com/" target="_blank">suradetj.wordpress.com</a> AND
                          <a href="https://suradetj.blogspot.com/" target="_blank">suradetj.blogspot.com</a>
                        </p>
                      </div>
                    </div>
                    <div class="row mt-2 m-2">
                      <div class="col-sm-3">
                        <p class="mb-0 pb-1">Telephone :</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0 pb-1">(Office) 055-96-4391 (Mobile) 089-451-8144</p>
                      </div>
                    </div>
                    <div class="row mt-2 m-2">
                      <div class="col-sm-3">
                        <p class="mb-0 pb-1">Fax :</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0 pb-1">(66) 55-96-4500</p>
                      </div>
                    </div>
                    <div class="row mt-2 m-2">
                      <div class="col-sm-3">
                        <p class="mb-0 pb-1">Office :</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0 pb-1">EE - 408, Electrical and Computer Engineering Building, Faculty of Engineering.</p>
                      </div>
                    </div>
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="w3-panel" style="background-color: #b3b3b35d;">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center">

      <div class="mt-4">
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
            <p class="custom-text-color text-center" >
              เว็บไซต์นี้เป็นส่วนหนึ่งของรายวิชา 305491 - 305492 โครงงานด้านวิศวกรรมคอมพิวเตอร์
            </p>
            <p class="custom-text-color text-center" >
              หลักสูตรปริญญาวิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมคอมพิวเตอร์
            </p>
            <p class="custom-text-color text-center" >
              ภาควิชาวิศวกรรมไฟฟ้าและคอมพิวเตอร์ คณะวิศวกรรมศาสตร์
            </p>
            <p class="custom-text-color mb-5 text-center" >
              มหาวิทยาลัยนเรศวร
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<div class="custom-container">
  <div class="custom-text">
    © 2023 Department of Electrical and Computer Engineering Faculty of Engineering Naresuan University
  </div>
  <div class="custom-text">
    reference <a href="https://tpqi-net.tpqi.go.th/home/occ/industrialInfo/ICT" target="_blank">สถาบันคุณวุฒิวิชาชีพ (องค์การมหาชน)</a>
  </div>
</div>