<app-navbar></app-navbar>

<section style="height: 100vh; background-color: #eee;" >
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong mt-5" style="border-radius: 1rem;">
          <div class="card-body p-5 ">


            <h3 class="mb-5 text-center">Reset Password</h3>

            <form #resetForm="ngForm" (ngSubmit)="resetPassword(resetForm)">
              <div class="form-outline">
                <label class="form-label mt-3" for="email">อีเมล:</label>
                <input type="email" id="email" name="email" ngModel class="form-control form-control" required>
              </div>

              <div class="form-outline">
                <label class="form-label mt-3" for="newPassword">รหัสผ่านใหม่:</label>
                <input type="password" id="newPassword" name="newPassword" ngModel class="form-control form-control" required>
              </div>

              <div class="form-outline">
                <label class="form-label mt-3" for="confirmPassword">ยืนยันรหัสผ่าน:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" ngModel class="form-control form-control" required>
              </div>

              <div *ngIf="resetError">
                <p>{{ resetError }}</p>
              </div>

              <!-- <button type="submit" [disabled]="resetForm.invalid">Reset Password</button>
            </form> -->
            <div class="d-flex justify-content-center text-lg-start mt-4 pt-2">
              <button type="submit" [disabled]="resetForm.invalid" class="btn btn-danger"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">สมัครสมาชิก </button>
                
            </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>