@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Roboto&display=swap');

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

.navbar-custom {
  background: linear-gradient(to right, #ffffff, #B5251A);
}


p {
  margin-bottom: -6px; /* Adjust the value as needed */
}

.custom-link {
  color: #000000;
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

