
<div class="container">
    <div class="card mt-5">
        <div class="container">
    
            <div class="card-body">

                <h2 class="mt-3">Career Management</h2>
                
                <!-- Form for creating and updating records -->
                <form (ngSubmit)="onSubmit()" class="mt-3">
                    <div class="form-group">
                        <label for="name_sector">name_sector:</label><br>
                        <textarea id="name_sector" name="name_sector" [(ngModel)]="formsectorData.name_sector" class="form-control" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            
                <div class="container mt-5">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>ชื่อ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sector of sectors">
                                <td>{{ sector.id_sector }}</td>
                                <td>{{ sector.name_sector }}</td>
                                <td>
                                    <button (click)="editSector(sector)" class="btn btn-warning btn-sm">Edit</button>
                                    <button (click)="deleteSector(sector.id_sector)" class="btn btn-danger btn-sm ml-1">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>