
<div class="container mt-5">
    <div class="card">
        <div class="container mt-5">
            <h2>Level Management</h2>
            <form class="mb-4" (ngSubmit)="onSubmitForm()">

                <label for="unitcode" class="form-label">หน่วยสมรรถนะ:</label>
                <select id="unitcode" name="unitcode" class="form-select" [(ngModel)]="formuskillData.id_unit_code">
                <option *ngFor="let unitcode of unitcodeOptions" [value]="unitcode.id_unit_code">{{ unitcode.unit_code }} {{ unitcode.name }}</option>
                </select>

                <label for="skill" class="form-label">ทักษะ:</label>
                <select id="skill" name="skill" class="form-select" [(ngModel)]="formuskillData.id_skill">
                <option *ngFor="let skill of skillOptions" [value]="skill.id_skill">
                    {{ skill.name_skill }} </option>
                </select>
            
    
            
                <button class="btn btn-primary mt-3" type="submit">{{ editIduskill !== null ? 'Update' : 'Create' }}</button>
            </form>

            <div class="container mt-4">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>หน่วยสมรรถนะ</th>
                            <th>ทักษะ</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let uskill of uskills">
                            <td>{{ uskill.id_u_skill }}</td>
                            <td>{{ uskill.unit_code }} {{ uskill.name }}</td>
                            <td>{{ uskill.name_skill}}</td>
                            <td>
                                <button (click)="onEdit(uskill)" class="btn btn-warning btn-sm" >Edit</button>
                                <button (click)="onDelete(uskill.id_u_skill)" class="btn btn-danger btn-sm ml-1" >Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>